@font-face {
    font-family: electrolux;
    src: url("../../../fonts/ElectroluxSans-Regular.eot"); /* IE9 Compat Modes */
    src: 
    // local("metric") url("./font/MetricWeb-Regular.eot?#iefix")
    //     format("embedded-opentype"),
      /* IE6-IE8 */ url("../../../fonts/ElectroluxSans-Regular.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../../../fonts/ElectroluxSans-Regular.woff")
        format("woff"),
      /* Pretty Modern Browsers */ url("../../../fonts/ElectroluxSans-Regular.ttf")
        format("truetype");
      // /* Safari, Android, iOS */ url("./font/MetricWeb-Regular.svg#svgFontName")
      //   format("svg"); /* Legacy iOS */
      font-display: swap;
  }
  