@charset "UTF-8";
@font-face {
  font-family: electrolux;
  src: url("../../../fonts/ElectroluxSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../../fonts/ElectroluxSans-Regular.woff2") format("woff2"), url("../../../fonts/ElectroluxSans-Regular.woff") format("woff"), url("../../../fonts/ElectroluxSans-Regular.ttf") format("truetype");
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.filterDiv {
  float: left;
  background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*  TESTING END*/
:root {
  --primary-color: #011e41;
}

html {
  font-size: 16px;
  color: var(--primary-color);
  font-family: electrolux, sans-serif;
}

.wrapper {
  width: 375px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  height: 63px;
  margin: 0 auto;
}
.header .navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header .navigation__link {
  display: none;
}
.header .navigation__icons {
  display: flex;
  align-items: center;
}
.header .navigation__icons .navigation__icon {
  margin-left: 28.75px;
}
.header .navigation__icons .navigation__icon button {
  background-color: transparent;
  border: none;
}
.header .navigation__icons .navigation__icon button:focus {
  border: 1px solid var(--primary-color);
}

.breadcrumb {
  margin: 10px 15px;
}
.breadcrumb__back {
  background-color: white;
  border: none;
}
.breadcrumb a {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  padding-left: 5px;
}
.breadcrumb .pagination {
  display: none;
}

.hero {
  position: relative;
  max-height: 368px;
}
.hero__inner {
  display: block;
  text-align: center;
  background-color: var(--primary-color);
  color: #ffffff;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  padding: 20px 0;
}
.hero__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container {
  width: 345px;
  margin: 0 auto;
}

.owl-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: flex;
}

.owl-carousel .owl-nav {
  margin: 0;
}

.owl-item .active {
  width: fit-content;
}

.owl-prev,
.owl-next {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
}
.owl-prev span,
.owl-next span {
  position: absolute;
  color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: auto;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  color: var(--primary-color);
  font-size: 39px;
  background: transparent;
  margin: 0;
  padding: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: transparent;
}

.category {
  margin: 24px 0 8px;
}
.category__heading {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 600;
}
.category__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  height: 64px;
}
.category__list .item {
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 5px;
  display: block;
  width: max-content;
  padding: 11px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.category__list .item .icon {
  display: none;
}
.category__list .item:hover {
  border: 2px solid var(--primary-color);
}

.product {
  position: relative;
}
.product__filter {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 345px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  z-index: 99;
}
.product__filter .filter,
.product__filter .sort {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  width: 120px;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product__filter .filter .refresh {
  display: none;
}
.product__filter .sort .desktop {
  display: none;
}
.product__filter .sort .selectSort {
  position: fixed;
  left: 0;
  bottom: -100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.product__filter .sort .selectSort__heading {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 0 24px;
}
.product__filter .sort .selectSort .option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product__filter .sort .selectSort .option button {
  line-height: 30px;
  padding: 10px;
}
.product__filter .sort .selectSort .option img {
  margin-left: 15px;
}
.product__filter .sort .showSort {
  padding: 0 30px 30px;
  width: 345px;
  height: auto;
  position: fixed;
  overflow: hidden;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid var(--primary-color);
  transition: all 0.1s ease-in-out;
  z-index: 100;
}
.product__items {
  display: flex;
  flex-wrap: wrap;
}
.product__items .selector {
  position: fixed;
  left: 0;
  bottom: -100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.product__items .selector__heading {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 40px 0 24px;
}
.product__items .selector .dealType,
.product__items .selector .price {
  display: flex;
  flex-direction: column;
}
.product__items .item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.product__items .item__tag {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.product__items .item__tag .new,
.product__items .item__tag .discount,
.product__items .item__tag .bundle,
.product__items .item__tag .gift span {
  font-size: 12px;
  border-radius: 2px;
  line-height: 16px;
  min-height: 20px;
  width: fit-content;
  padding: 0 10px;
  text-transform: uppercase;
}
.product__items .item__tag .new,
.product__items .item__tag .gift {
  border: 2px solid var(--primary-color);
}
.product__items .item__tag .discount {
  padding: 2px 10px;
  margin-left: 4px;
  color: white;
  background-color: #fe392f;
}
.product__items .item__tag .bundle {
  padding: 2px 10px;
  margin-left: 4px;
  color: white;
  background-color: var(--primary-color);
}
.product__items .item__tag .gift {
  margin-left: 5px;
}
.product__items .item__content {
  margin-top: 16px;
  display: flex;
}
.product__items .item__img img {
  width: 100%;
  height: 100%;
}
.product__items .item__container {
  display: flex;
  flex-direction: column;
}
.product__items .item__container .code {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.product__items .item__container .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.product__items .item__container .rate {
  display: flex;
}
.product__items .item__container .rate .review {
  font-size: 14px;
  line-height: 16.8px;
}
.product__items .item__price {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.product__items .item__price .old {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.product__items .item__price .new {
  margin-left: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.product__items .item__suggestion {
  display: flex;
}
.product__items .item__suggestion .interest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
}
.product__items .item__suggestion .interest .number {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: white;
}
.product__items .item__suggestion .interest span {
  font-size: 8px;
  line-height: 10px;
  color: white;
}
.product__items .item__suggestion .payment {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 16px;
  background-color: #dfe7ea;
}
.product__items .item__suggestion .payment .money {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.product__items .item__suggestion .payment .due {
  padding-left: 0.2em;
  font-weight: 400;
}
.product__items .item__description {
  margin-bottom: 16px;
  padding-left: 15px;
}
.product__items .item__description li {
  list-style-type: disc;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.product__items .item__action .add,
.product__items .item__action .research {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 46px;
}
.product__items .item__action .add {
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 5px;
}
.product__items .item__action .research {
  font-weight: 300;
  text-transform: uppercase;
}
.product__items .item .compare {
  display: none;
}
.product:after {
  content: "";
}

.hideBtn {
  display: none;
}

footer .option__list {
  padding: 40px 15px 10px;
  background-color: var(--primary-color);
}
footer .option__item {
  position: relative;
}
footer .option__item .heading {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 24px;
}
footer .option__item .heading a,
footer .option__item .heading .icon {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: 500;
}
footer .option__item .heading .icon {
  position: absolute;
  right: 0;
  font-size: 30px;
}
footer .option__item .heading:after {
  content: "";
  display: block;
  height: 1 px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
footer .option__item .content {
  display: none;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .container .connect {
  margin-bottom: 50px;
}
footer .container .connect .social {
  margin: 30px 0;
}
footer .container .connect .social .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
footer .container .connect .social .icons img {
  height: 28px;
  margin-right: 30px;
}
footer .container .connect .social .infor {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
footer .container .connect .download .heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  margin: 10px 0;
}
footer .container .connect .download__option {
  display: flex;
  align-items: center;
  height: 40px;
}
footer .container .connect .download__option .store {
  margin-right: 15px;
  border-radius: 2px;
}
footer .container .term {
  margin-bottom: 20px;
}

@media screen and (max-width: 1020px) {
  .product__items .showSelector {
    padding: 30px;
    width: 345px;
    height: auto;
    position: fixed;
    overflow: hidden;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
    z-index: 100;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1180px;
    margin: 0 auto;
  }
  .header__logo {
    display: block;
  }
  .header__logo img {
    min-width: 150px;
  }
  .header .navigation {
    justify-content: space-between;
    padding-left: 25px;
  }
  .header .navigation__link {
    display: flex;
    align-items: center;
  }
  .header .navigation__item {
    margin: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }

  .breadcrumb {
    width: 1180px;
    margin: 0 auto;
  }
  .breadcrumb__back {
    display: none;
  }
  .breadcrumb .pagination {
    display: flex;
    padding: 0;
  }
  .breadcrumb .pagination li + li:before {
    padding: 8px;
    color: black;
    content: "/ ";
  }
  .breadcrumb .pagination li a {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
  }

  .hero__inner {
    position: absolute;
    top: 110px;
    left: 130px;
    font-size: 40px;
    line-height: 48px;
    padding: 50px 218px 50px 55px;
  }
  .hero img {
    height: 368px;
  }

  .container {
    width: 1180px;
    margin: 0 auto;
  }

  .owl-carousel .owl-stage-outer {
    margin: 0 30px;
  }

  .category {
    margin: 40px 0 48px;
  }
  .category__heading {
    font-size: 20px;
    line-height: 28px;
  }
  .category__list {
    height: 188px;
  }
  .category__list .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 156px;
    min-width: 128px;
    padding: 25px 10px;
    border: none;
  }
  .category__list .item .icon {
    display: block;
  }
  .category__list .item:hover {
    border-radius: 4px;
    border: 2px solid var(--primary-color);
  }

  .product {
    display: flex;
    flex-direction: column;
  }
  .product__filter {
    display: flex;
    position: relative;
    width: 100%;
  }
  .product__filter .filter,
.product__filter .sort {
    border: none;
    width: 200px;
  }
  .product__filter .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
  }
  .product__filter .filter .icon {
    display: none;
  }
  .product__filter .filter .refresh {
    display: block;
    cursor: pointer;
  }
  .product__filter .sort {
    position: relative;
  }
  .product__filter .sort .desktop {
    display: block;
  }
  .product__filter .sort .selectSort__heading {
    margin: 10px;
  }
  .product__filter .sort .selectSort .option button {
    padding: 0;
  }
  .product__filter .sort .showSort {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    left: 80px;
    top: 48px;
    background-color: white;
    border: 1px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
    z-index: 100;
  }
  .product__items {
    display: flex;
  }
  .product__items .selector {
    position: relative;
    display: flex;
    width: 200px;
  }
  .product__items .items {
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    margin: 0 -10px;
  }
  .product__items .items .item {
    width: calc(33.3333333333% - 40px);
    margin: 0 20px 80px;
  }
  .product__items .items .item__tag {
    position: absolute;
  }
  .product__items .items .item__tag .new,
.product__items .items .item__tag .discount {
    height: 24px;
  }
  .product__items .items .item__tag .new {
    position: relative;
    width: 54px;
  }
  .product__items .items .item__tag .discount,
.product__items .items .item__tag .bundle {
    position: absolute;
    top: 28px;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 54px;
  }
  .product__items .items .item__tag .discount:before,
.product__items .items .item__tag .bundle:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 29px solid #fe392f;
    position: absolute;
    bottom: -19px;
    left: 0;
  }
  .product__items .items .item__tag .discount:after,
.product__items .items .item__tag .bundle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 29px solid #fe392f;
    position: absolute;
    bottom: -19px;
    right: 0;
  }
  .product__items .items .item__tag .bundle:before {
    border-left: 29px solid var(--primary-color);
  }
  .product__items .items .item__tag .bundle:after {
    border-right: 29px solid var(--primary-color);
  }
  .product__items .items .item__content {
    flex-direction: column;
    margin-top: 24px;
  }
  .product__items .items .item__img {
    text-align: center;
    margin-bottom: 35px;
  }
  .product__items .items .item__img img {
    height: 210px;
    object-fit: contain;
  }
  .product__items .items .item__container .code {
    font-size: 14px;
    line-height: 22px;
  }
  .product__items .items .item__container .name {
    height: 78px;
    overflow: hidden;
    font-size: 20px;
    line-height: 26px;
  }
  .product__items .items .item__container .rate {
    display: flex;
  }
  .product__items .items .item__container .rate .star {
    margin-right: 10px;
  }
  .product__items .items .item__container .rate .review {
    font-size: 14px;
    line-height: 16.8px;
  }
  .product__items .items .item__suggestion {
    display: none;
  }
  .product__items .items .item__price {
    order: 2;
  }
  .product__items .items .item__description {
    order: 1;
    margin-top: 0;
  }
  .product__items .items .item__action {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .product__items .items .item__action .add,
.product__items .items .item__action .research {
    width: calc(50% - 10px);
    margin: 0 auto;
  }
  .product__items .items .item__action .add {
    order: 2;
  }
  .product__items .items .item__action .research {
    order: 1;
  }
  .product__items .items .item .compare {
    order: 4;
    display: block;
    font-size: 16px;
    line-height: 22px;
  }

  footer .option__list {
    display: flex;
    flex-direction: column;
    height: 327px;
    flex-wrap: wrap;
    padding: 30px 140px;
  }
  footer .option__list .container {
    flex-direction: column;
  }
  footer .option__item .content {
    display: block;
    color: white;
  }
  footer .option__item ul {
    padding: 0;
  }
  footer .option__item ul li {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
  }
  footer .option__item .heading {
    margin-bottom: 10px;
    font-weight: 600;
  }
  footer .option__item .heading .icon {
    display: none;
  }
  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  footer .container .connect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
  footer .container .connect .social {
    width: 65%;
  }
  footer .container .connect .social .icons {
    margin-bottom: 10px;
  }
  footer .container .connect .download {
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  footer .container .connect .download .heading {
    width: 100%;
  }
  footer .container .connect .download .option {
    height: 50px;
  }
  footer .container .term,
footer .container .copyright {
    width: 50%;
  }
  footer .container .term {
    order: 2;
  }
  footer .container .copyright {
    order: 1;
  }
}

/*# sourceMappingURL=main.css.map */
