/* Variables*/
$color-blue: #0070f3;
$color-green: green;
$color-red: red;
$color-orange: #ffa24d;
$color-orange-light: #faf5ed;
$color-orange-light2: #faf5ed;
$color-gray: #777777;
$color-gray2: #ebebeb;

/* Media screen width*/
$sm-width: 767px;
$md-width: 768px;
$lg-width: 960px;
$xl-width: 1200px;


