@import "./mixins";

.mainContent {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}
.personalInformation {
  width: 100%;
  padding: 20px;
  background-color: $color-orange-light;
  @include tablet {
    width: 40%;
  }
}
.careerInformation {
  width: 100%;
  padding: 20px;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    border-right: 1px solid $color-gray2;
  }
}
.careerCardItem {
  border-bottom: 1px solid $color-orange;
  padding: 20px 0;
}
.isLast {
  border-bottom: none;
}
.pointerLabel {
  color: $color-orange;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.iconLinkContent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
  & > span:last-child,
  time {
    display: inline-block;
    margin-left: 10px !important;
  }
}
.mainProjects {
  position: relative;
  h5 {
    margin-bottom: 0;
    @include tablet {
      margin-bottom: 20px;
    }
  }
}
.time {
  font-size: 0.875rem;
  color: $color-gray;
  display: inline-block;
  margin-bottom: 20px;

  @include tablet {
    position: absolute;
    right: 0;
    top: 3px;
    margin-bottom: 0;
  }
}
.tagItems {
  display: flex;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.tagLabel {
  min-width: 180px;
  @include mobile {
    display: none;
  }
}
.tagContent {
  ul {
    margin: 0;
    padding-left: 20px;
  }
}
.skillSet {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  label {
    min-width: 130px;
  }
}
